<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cloudstu.sg.dao.SwingDao">

    <sql id="swing_fields">
        code,swing,seconds
    </sql>

    <insert id="insert" parameterType="SwingModel">
        INSERT INTO swing(<include refid="swing_fields"/>) VALUE(#{code},#{swing},#{seconds})
    </insert>
</mapper>