<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cloudstu.sg.dao.TrackerUserDao">

    <resultMap id="trackerUserResultMap" type="trackerUserModel">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="tracker_user_fields">
        user_id,user_name,type,cnt
    </sql>

    <select id="selectByUserId" resultMap="trackerUserResultMap">
        select
        <include refid="tracker_user_fields"/>
        FROM tracker_user
        where user_id = #{userId}
    </select>

    <select id="selectAll" resultMap="trackerUserResultMap">
        select
        <include refid="tracker_user_fields"/>
        FROM tracker_user
    </select>

    <insert id="insert" parameterType="trackerUserModel">
        INSERT INTO tracker_user(<include refid="tracker_user_fields"/>) VALUE(#{userId},#{userName},0,1) ON DUPLICATE
        KEY UPDATE cnt = cnt+1
    </insert>
</mapper>